<section class="advantages">
  <h2 class="title title--black title--w700">НАШИ ПРЕИМУЩЕСТВА</h2>
  <h3 class="subtitle subtitle--black subtitle--w1200">
    За счет чего мы добиваемся такого высокого качества и снизили процент брака
    до нуля
  </h3>

  <div class="advantages_card">
    <div class="advantage">
      <a class="advantages_image">
        <img src="img/advantages_1.png" alt="advantages_image" />
      </a>
      <div class="advantages_number">01</div>
      <div class="title title--344">
        В производстве используются цемент М500 и промытые пески 3-й фракции
      </div>
      <div class="subtitle subtitle--w337">
        Готовые изделия имеют морозостойкость F200
      </div>
    </div>

    <div class="advantage">
      <a class="advantages_image">
        <img src="img/advantages_2.png" alt="advantages_image" />
      </a>
      <div class="advantages_number">02</div>
      <div class="title title--344">
        Все сырье имеет паспорта качества и закупается у многолетних партнеров
      </div>
      <div class="subtitle subtitle--w337">
        Можем отправить их при необходимости
      </div>
    </div>

    <div class="advantage">
      <a class="advantages_image">
        <img src="img/advantages_3.png" alt="advantages_image" />
      </a>
      <div class="advantages_number">03</div>
      <div class="subtitle subtitle--w337">
        Все изделия производятся на Польском оборудование в соответствии с ГОСТ
      </div>
    </div>

    <div class="advantage">
      <a class="advantages_image">
        <img src="img/advantages_4.png" alt="advantages_image" />
      </a>
      <div class="advantages_number">04</div>
      <div class="title title--344">Трехэтапный контроль:</div>
      <div class="subtitle subtitle--w337">
        Входной для материалов; Контроль процесса работы и качества смеси;
        Контроль при отправке и приемке
      </div>
    </div>
  </div>
</section>
