<section class="contact-section">
  <div class="container contact-wrapper">
    <div class="contact-info">
      <h2>КОНТАКТЫ</h2>
      <div class="contact-item">
        <img src="img/phone.svg" alt="Телефон" />
        <span>8-495-104-44-41</span>
        <span class="divider">|</span>
        <span>8-495-104-44-42</span>
      </div>
      <div class="contact-item">
        <img src="img/mail.svg" alt="Email" />
        <span>kap-investstroy@mail.ru</span>
      </div>
      <div class="contact-item">
        <img src="img/location.svg" alt="Адрес" />
        <span
          >Московская обл, г. Химки, ул. Ленинградская, д. 29, оф. 817/3</span
        >
      </div>
    </div>

    <div class="contact-form">
      <div class="contact-form__logo">
        <img src="img/logo-dots.svg" alt="logo dots" />
      </div>
      <h3>
        Получите каталог выбранной продукции с ценами и бесплатный образец
      </h3>
      <p>
        Отправим его вам на почту, а по телефону уточним какой нужен образец и
        как вам удобнее его показать...
      </p>
      <form action="#">
        <input type="text" placeholder="Имя*" required />
        <input type="tel" placeholder="Номер телефона*" required />
        <input type="email" placeholder="E-mail*" required />
        <button type="submit">Получить прайс и образец</button>
      </form>
    </div>
  </div>
</section>
