<!-- Вариант 1 -->

<section class="form-block">
  <div class="form-container">
    <h2>Получите каталог выбранной продукции с ценами и бесплатный образец</h2>
    <p>Отправим его вам на почту, а по телефону уточним...</p>

    <form>
      <input type="text" placeholder="Имя*" required />
      <input type="tel" placeholder="Номер телефона*" required />
      <input type="email" placeholder="E-mail*" required />
      <button type="submit">Получить прайс и образец</button>
    </form>
  </div>
</section>

<!-- Вариант 2 -->

<div class="contact-form">
  <div class="contact-form__logo">
    <img src="img/logo-dots.svg" alt="logo dots" />
  </div>
  <h3>Получите каталог выбранной продукции с ценами и бесплатный образец</h3>
  <p>
    Отправим его вам на почту, а по телефону уточним какой нужен образец и как
    вам удобнее его показать...
  </p>
  <form action="#">
    <input type="text" placeholder="Имя*" required />
    <input type="tel" placeholder="Номер телефона*" required />
    <input type="email" placeholder="E-mail*" required />
    <button type="submit">Получить прайс и образец</button>
  </form>
</div>
