<section class="gallery">
  <h2>НАШИ РАБОТЫ</h2>
  <div class="gallery__grid">
    <img src="../img/gallery_1.png" alt="работа 1" />
    <img src="../img/gallery_2.png" alt="работа 2" />
    <img src="../img/gallery_3.png" alt="работа 3" />
    <img src="../img/gallery_4.png" alt="работа 4" />
    <img src="../img/gallery_5.png" alt="работа 5" />
    <img src="../img/gallery_6.png" alt="работа 6" />
    <img src="../img/gallery_7.png" alt="работа 7" />
    <img src="../img/gallery_8.png" alt="работа 8" />
  </div>
</section>

<link rel="stylesheet" href="../css/gallery.css" />
