<section class="workflow">
  <h2 class="title title--black title--w294">ЦИКЛ РАБОТ</h2>
  <h3 class="subtitle subtitle--black subtitle--w539">
    Процесс укладки проходит в несколько этапов:
  </h3>

  <div class="cycle">
    <div class="cycle_card">
      <div class="cycle_number">01</div>
      <div class="title title--w244">Демонтаж старых покрытий</div>
      <div class="subtitle subtitle--w259">
        При необходимости демонтируем старые покрытия
      </div>
    </div>

    <div class="cycle_card">
      <div class="cycle_number">02</div>
      <div class="title title--w244">Планирование участка</div>
      <div class="subtitle subtitle--w259">
        Выполняем планирование участка с помощью эксковатора-погрузчика
      </div>
    </div>

    <div class="cycle_card">
      <div class="cycle_number">03</div>
      <div class="title title--w244">Укладка бордюров и брусчатки</div>
      <div class="subtitle subtitle--w259">
        Укладываем брусчатку и ограничиваем площадку бордюрным камнем
      </div>
    </div>

    <div class="cycle_card">
      <div class="cycle_number">04</div>
      <div class="title title--w244">Уборка мусора по завершении работ</div>
      <div class="subtitle subtitle--w259">
        Убираем весь строительный мусор и вывозим с площадки
      </div>
    </div>
  </div>
</section>
